body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #008080;
  }
  
  #boot-gif {
    width: 100%;
    height: auto;
  }